<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    @*<title>Call Centre Tracker</title>*@

    <!-- Fontfaces CSS-->
    <link href="~/Content/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Content/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Content/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Content/css/theme.css" rel="stylesheet" media="all">



</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/Content/images/icon/IpsosSDR.png" alt="SDR" />
                            @*<p>Welcome to SDR Callcenter FollowUps</p>*@
                        </a>
                    </div>

                    <div class="header__tool">


                    </div>
                </div>
            </div>
        </header>


        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">

            <section class="p-t-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            @RenderBody()

                        </div>
                    </div>
                </div>
            </section>
            <!-- END DATA TABLE-->
            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © @DateTime.Now.Year Ipsos. All rights reserved. <a href="#">Ipsos</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/Content/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/vendor/slick/slick.min.js"></script>
    <script src="~/Content/vendor/wow/wow.min.js"></script>
    <script src="~/Content/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Content/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/Scripts/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <div>
        <input type="hidden" id="UserId" class="iHidden" name="UserId" value='@ViewBag.CurrentUserId' />
        <input type="hidden" id="UserFullName" class="iHidden" name="UserFullName" value='@ViewBag.CurrentUserName' />
        <input type="hidden" id="UserEmailAddress" class="iHidden" name="UserEmailAddress" value='@ViewBag.CurrentUserEmail' />
    </div>
</body>

</html>
<!-- end document-->